body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.actions {
    text-align: center;
}

.actions a {
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
}

.actions a:hover {
    text-decoration: underline;
}

.dadosBasicos, .telefones, .endereco {
    margin-bottom: 20px;
}

select {
    appearance: none;
    background-color: #fff;
}

tr {
    cursor: pointer;
}

tr a {
    text-decoration: none;
}

tr a:hover {
    text-decoration: underline;
}

/* Button Styles */
button, .botaoCadastrar button {
    margin-top: 10px;
    background-color: #4CAF50; /* Cor de fundo */
    border: none; /* Remove bordas */
    color: white; /* Cor do texto */
    padding: 12px 24px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Exibição inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Espaçamento externo */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 8px; /* Borda arredondada */
    transition-duration: 0.4s; /* Duração da transição */
}

button:hover, .botaoCadastrar button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.botaoVoltar {
    margin-top: 10px;
    background-color: #b51919; /* Cor de fundo */
    border: none; /* Remove bordas */
    color: white; /* Cor do texto */
    padding: 12px 24px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Exibição inline */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Espaçamento externo */
    cursor: pointer; /* Cursor de ponteiro */
    border-radius: 8px; /* Borda arredondada */
    transition-duration: 0.4s; /* Duração da transição */
    margin-bottom: 50px;
}

.botaoVoltar:hover {
    background-color: #931515; /* Cor de fundo ao passar o mouse */
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.botoes
{
    display: inline-block;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

/* Layout */
.dadosBasicos,
.telefones,
.endereco {
    margin-bottom: 20px;
}

.dadosBasicos label,
.telefones label,
.endereco label {
    display: block;
    margin-bottom: 5px;
}

.dadosBasicos input,
.telefones input,
.endereco input,
.dadosBasicos select,
.endereco select {
    margin-bottom: 10px;
}

.dadosBasicos,
.telefones,
.endereco {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}